.main{
    flex-wrap: wrap;
    display: inline-block;
    background-color: rgb(160, 137, 182);
margin: 10px;
    /* text-align: center; */
}
.image{
    width: 300px;

}
.under{
    position: relative;
    bottom:6em;
    right: 1em;
    float: right;

}
h2,h3{
    margin-left: 20px;
}
p{
    text-align: center;
    padding: 20px;
    white-space: nowrap;
}

